* {
    box-sizing: border-box;
    height: fit-content;
    
}
body{
    margin: 0;
    
}
header{
   
    height: 100px;
    background-color: rgb(32, 114, 180);
  
}
main{
    height: 600px;
}

footer{
    height:300px;
    background-color:rgb(32, 114, 180)
}

.three-column-grid{
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    column-gap: 5px;
  }

h2{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: xx-large;
}

h3{
    position: absolute;
    margin-left: 2%;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
}

ul{
    width: auto;
    margin: top 8px;
    padding-left: 0;
}

.nav-li{
    display:inline-block;
    padding: 15px 30px;
    color: white;
    font-size: x-large;
    padding-bottom: 0;

}

h1{
    position: absolute;
    padding: 3px;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(32, 114, 180);
    font-size: 3rem;
}


main{
    padding-left: 30px;
}

p{
    font-size: 25px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}


.membership-btn{
    font-size: 25px;
    background-color: white;
    border-radius: 20px;
    border-color: orangered;
    color: orangered;
    padding: 15px;
}

.instagram-btn{
    font-size: 40px;
    background-color:purple ;
    color: white;
    border-color:white;
    border-radius: 25px;
    padding:15px
}

.facebook-btn{
    font-size: 40px;
    background-color:rgb(39, 51, 211) ;
    color: white;
    border-color:white;
    border-radius: 25px;
    padding:15px
}

.youtube-btn{
    font-size: 40px;
    background-color:rgb(228, 3, 22) ;
    color: white;
    border-color:white;
    border-radius: 25px;
    padding:15px
}
button{
    margin-right: 25px;
}
.gap-margin {
    height: min(100vh, 110px);
}
.footer-marign{
    height: min(100vh, 50px);
}
.footer-li{
    padding: 0px;
    color: white;
    padding-bottom: 0;
    padding-left: 60px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.about-footer{
    padding-left: 2%;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    
    
}
